<footer>
		<div class="container">
				<div class="row">
						<div class="col-md-12">
								<p>© 2024 - All Rights to <a href="http://www.technoexponent.com/" target="_blank">Mark Wayne Menorca</a></p>
						</div>
				</div>
		</div>
</footer>